Examples of Non-ML Coding:
• Basic Programming Tasks: Writing a simple program to calculate the sum of two numbers or to sort a list of items. These tasks follow fixed instructions without any
learning capability.
Example 1: A Python script that takes user input and prints the sum:

In [1]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Sum:", num1 + num2)

Enter first number:  4
Enter second number:  6

Sum: 10

Example 2: A script takes a student's score as input and classifies the grade.
```python score = int(input("Enter your score: ")) # Take input from the user
# Conditional logic to classify the grade based on the score if score >= 90: grade =
"A" elif score >= 80: grade = "B" elif score >= 70: grade = "C" elif score >= 60: grade =
"D" else: grade = "F"
# Print the classified grade print("Your grade is:", grade) ```

In [5]:
score = int(input("Enter your score: "))  # Take input from the user

# Conditional logic to classify the grade based on the score
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

# Print the classified grade
print("Your grade is:", grade)

Enter your score:  90

Your grade is: A

Example 1
Can we predict the price of a car prices if we know the car age, mileage, brand, and
horsepower?
Labelled Data:
input features ( car age, brand, mileage, horsepower) and a labeled outcome (the car's
price)
• Import the datset from here (without attribute names):
https://archive.ics.uci.edu/dataset/10/automobile
• Download dataset from here (with attribute names):
https://www.kaggle.com/datasets/toramky/automobile-dataset
• Full description of these attributes on the UCI Automobile Dataset webpage, under
the "Attribute Information" section or the Kaggle page

In [12]:
import pandas as pd
url ="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
columns = ["symboling", "normalized_losses", "make", "fuel_type",
"aspiration", "num_doors",
 "body_style", "drive_wheels", "engine_location",
"wheel_base", "length", "width",
 "height", "curb_weight", "engine_type", "num_cylinders",
"engine_size", "fuel_system",
 "bore", "stroke", "compression_ratio", "horsepower",
"peak_rpm", "city_mpg", "highway_mpg", "price"]
data = pd.read_csv(url, names=columns)
data.info

<bound method DataFrame.info of      symboling normalized_losses         make fuel_type aspiration num_doors  \
0            3                 ?  alfa-romero       gas        std       two
1            3                 ?  alfa-romero       gas        std       two
2            1                 ?  alfa-romero       gas        std       two
3            2               164         audi       gas        std      four
4            2               164         audi       gas        std      four
..         ...               ...          ...       ...        ...       ...
200         -1                95        volvo       gas        std      four
201         -1                95        volvo       gas      turbo      four
202         -1                95        volvo       gas        std      four
203         -1                95        volvo    diesel      turbo      four
204         -1                95        volvo       gas      turbo      four

      body_style drive_wheels engine_location  wheel_base  ...  engine_size  \
0    convertible          rwd           front        88.6  ...          130
1    convertible          rwd           front        88.6  ...          130
2      hatchback          rwd           front        94.5  ...          152
3          sedan          fwd           front        99.8  ...          109
4          sedan          4wd           front        99.4  ...          136
..           ...          ...             ...         ...  ...          ...
200        sedan          rwd           front       109.1  ...          141
201        sedan          rwd           front       109.1  ...          141
202        sedan          rwd           front       109.1  ...          173
203        sedan          rwd           front       109.1  ...          145
204        sedan          rwd           front       109.1  ...          141

     fuel_system  bore  stroke compression_ratio horsepower  peak_rpm  \
0           mpfi  3.47    2.68               9.0        111      5000
1           mpfi  3.47    2.68               9.0        111      5000
2           mpfi  2.68    3.47               9.0        154      5000
3           mpfi  3.19    3.40              10.0        102      5500
4           mpfi  3.19    3.40               8.0        115      5500
..           ...   ...     ...               ...        ...       ...
200         mpfi  3.78    3.15               9.5        114      5400
201         mpfi  3.78    3.15               8.7        160      5300
202         mpfi  3.58    2.87               8.8        134      5500
203          idi  3.01    3.40              23.0        106      4800
204         mpfi  3.78    3.15               9.5        114      5400

    city_mpg highway_mpg  price
0         21          27  13495
1         21          27  16500
2         19          26  16500
3         24          30  13950
4         18          22  17450
..       ...         ...    ...
200       23          28  16845
201       19          25  19045
202       18          23  21485
203       26          27  22470
204       19          25  22625

[205 rows x 26 columns]>

In [14]:
data.describe()

,symboling,wheel_base,length,width,height,curb_weight,engine_size,compression_ratio,city_mpg,highway_mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [16]:
data.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [18]:
import pandas as pd
url ="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
data = pd.read_csv(url)
data.info

<bound method DataFrame.info of      3    ?  alfa-romero     gas    std   two  convertible  rwd  front  88.60  \
0    3    ?  alfa-romero     gas    std   two  convertible  rwd  front   88.6
1    1    ?  alfa-romero     gas    std   two    hatchback  rwd  front   94.5
2    2  164         audi     gas    std  four        sedan  fwd  front   99.8
3    2  164         audi     gas    std  four        sedan  4wd  front   99.4
4    2    ?         audi     gas    std   two        sedan  fwd  front   99.8
..  ..  ...          ...     ...    ...   ...          ...  ...    ...    ...
199 -1   95        volvo     gas    std  four        sedan  rwd  front  109.1
200 -1   95        volvo     gas  turbo  four        sedan  rwd  front  109.1
201 -1   95        volvo     gas    std  four        sedan  rwd  front  109.1
202 -1   95        volvo  diesel  turbo  four        sedan  rwd  front  109.1
203 -1   95        volvo     gas  turbo  four        sedan  rwd  front  109.1

     ...  130  mpfi  3.47  2.68  9.00  111  5000  21  27  13495
0    ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
1    ...  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
2    ...  109  mpfi  3.19  3.40  10.0  102  5500  24  30  13950
3    ...  136  mpfi  3.19  3.40   8.0  115  5500  18  22  17450
4    ...  136  mpfi  3.19  3.40   8.5  110  5500  19  25  15250
..   ...  ...   ...   ...   ...   ...  ...   ...  ..  ..    ...
199  ...  141  mpfi  3.78  3.15   9.5  114  5400  23  28  16845
200  ...  141  mpfi  3.78  3.15   8.7  160  5300  19  25  19045
201  ...  173  mpfi  3.58  2.87   8.8  134  5500  18  23  21485
202  ...  145   idi  3.01  3.40  23.0  106  4800  26  27  22470
203  ...  141  mpfi  3.78  3.15   9.5  114  5400  19  25  22625

[204 rows x 26 columns]>